.row {
    span {
        &.price-label,
        &.price {
            display: inline;
            width: auto;
            max-width: unset;
            padding: 0;
        }
    }
}

.product {
    &-wrapper {
        display: grid;
        min-height: 10rem;
        transition: all 0.3s linear;
        background: rgba(255, 255, 255, 0.025);

        @media only screen and (min-width: 767px) {
            min-height: 14rem;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        .price {
            &-wrapper {
                align-self: flex-end;
            }
        }
    }
}